<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		 layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Entreprises</title>
</head>
<body>
   <div layout:fragment="content" class="container">
 		
 			<div class="panel panel-primary">
 			  <div class="panel-heading">Problème d'autorisations</div>
 			   <div class="panel-body">
 			        
 			       <div class="text-danger">
	                   Vous n' avez pas le droit d' acceder à cette ressource
	                     <p></p>
                   </div>

			   </div>
 			</div>
   </div>
</body>
</html>